.manifesto-page {
  width: 100%;
  overflow-x: hidden;
}

.manifesto-page__blue-line {
  display: none;
}

.manifesto-page__content {
  width: 100%;
  background: #FFFFFF;
  position: relative;
  z-index: 1;
}

.manifesto-page .footer {
  position: relative;
  z-index: 2;
}